FRONTEND_URL="http://localhost:3000"
DOMAIN="localhost"
JWT_KEY="openssl rand -base64 16" 
PORT=8080
MONGO_URI="mongodb+srv://username:password@cluster.gqqwp.gcp.mongodb.net/database?retryWrites=true&w=majority"
MAIL_HOST="smtp.sendgrid.net"
MAIL_PORT=465
MAIL_USER="apiKey"
MAIL_SENDER="Your Name <your@mail.com>"
MAIL_PASSWORD="yourSendGridApiKey"